/*------------------------------------------------------------------
    File Name: colors1.css
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    color theme
-------------------------------------------------------------------*/


.bg_load
{
	background: #039ee3;
    background-size: 100% 100%;
    border: none;
}

